<access origin="http://cheapcall.me" browserOnly="true" />
<access origin="http://cheapcall.me:8080" browserOnly="true" />
<access origin="http://cheaptalk.me" browserOnly="true" />
<access origin="http://cheaptalk.me:8080" browserOnly="true" />
<access origin="http://cheaptalk.me:8088" browserOnly="true" />
